@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url(/assets/fonts/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(/assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url(/assets/fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: 'Source Sans Pro Extra Light';
    src: url(/assets/fonts/SourceSansPro-ExtraLight.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro Light';
    outline: none;
}

:root {
    --color-white: #fff;
    --color-red: #FF6565;
    --color-blue: #071629;
    --color-black: #000;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: var(--color-red) !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-image: url("./assets/images/headphones_hero_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}

.header-main p {
    padding-top: 25px;
    line-height: 26px;
    max-width: 60%;
    margin: auto;
}

.header-main {
    padding: 280px 0 100px 0;
    font-size: 16px;
}

.header-main h1, .header-main h4, .btn {
    font-family: 'Source Sans Pro Bold';

}

.btn {
    margin: 50px;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
}

.btn:hover, .btn:active {
    opacity: 0.9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

/* .logo {
    margin-left: 40px;
} */

nav input, nav label {
    display: none;
}

/* .nav-menu {
    margin-right: 40px;
} */

/* ------------- */

.checkbtn {
    /* display: none;  cursor: pointer;
    height: 22px; */
    width: 30px;
    position: relative;
}

.checkbtn span,
.checkbtn span::before,
.checkbtn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-white);
    border-radius: 5px;
}

.checkbtn span {
    /* position: relative; */
    /* background: var(--color-white); */
    transition: background-color 300ms;
}

.checkbtn span::before,
.checkbtn span::after {
    position: absolute;
    transition: transform 300ms, top 300ms, bottom 300ms;
}

.checkbtn span::before {
    bottom: 10px;
}

.checkbtn span::after {
    top: 10px;
}

#check:checked+.checkbtn span {
    background: transparent;
}

#check:checked+.checkbtn span::before {
    transform: rotate(-45deg);
    bottom: 0;
}

#check:checked+.checkbtn span::after {
    transform: rotate(45deg);
    top: 0;
}


.logo img {
    width: 161px;
}

.nav-menu a {
    color: var(--color-white);
    margin-left: 50px;
    font-size: 12px;
    font-family: 'Source Sans Pro Bold';

}



/* ------- */
.we-do-content {
    color: var(--color-blue);
    text-align: center;
    padding: 100px 0;
}

.we-do-content h1 {
    font-size: 32px;
    font-family: 'Source Sans Pro Bold';
    margin-bottom: 20px;
}

.we-do-content>p {
    padding: 25px 0 0 0;
    line-height: 26px;
    max-width: 60%;
    margin: auto;
    color: var(--color-blue);

}

.we-do-main, .result-main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-card, .result-card {
    display: flex;
}

.main-card p {
    font-size: 14px;
    margin: 20px;
}

.main-card img {
    max-height: 60px;
    margin-bottom: 20px;
}

/* ------------ */
.our-result {
    background-image: url("./assets/images/headphones_hero_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}

.pentagone img {
    width: 190px;
}

.percent {
    font-family: 'Source Sans Pro Bold';
    font-size: 46px;
}

.pentagone {
    position: relative;
    margin: 30px;
}

.pentagone div {
    position: absolute;
    top: 30%;
    left: 18%;
    z-index: 500;
}

.result-content {
    text-align: center;
    padding: 100px 0;
}

.result-content h1 {
    font-size: 32px;
    font-family: 'Source Sans Pro Bold';
    margin-bottom: 20px;
}

.result-content>p {
    padding: 25px 0 0 0;
    line-height: 26px;
    max-width: 60%;
    margin: auto;
}

/* ------- */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

.contact h1 {
    color: var(--color-blue);
    text-align: center;
    margin-top: 100px;
    font-family: 'Source Sans Pro Bold';
    font-size: 32px;
}


.input-data {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 30px 0;
}

.input-data div {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #07162962;
    width: 100%;
}

.input-data input, .input-data textarea {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 100%;
    border: none;
    display: block;

}

.input-data textarea {
    resize: none;
}

.input-data label {
    font-size: 16px;
    z-index: 500;
    font-family: 'Source Sans Pro Bold';
}

.input-data input:focus ~ label,
.input-data input:valid ~ label, 
.input-data textarea:focus ~ label,
.input-data textarea:valid ~ label{
    bottom: 20px;
    transition: all 0.3s ease;
    font-size: 14px;
}

/* responsive */
@media only screen and (max-width:768px) {
    .header-main p, .we-do-content p {
        max-width: 90%;
    }

    .logo {
        margin-left: 40px;
    }

    .nav-menu {
        margin-right: 40px;
    }

    .nav-menu a {
        margin-left: 30px;
    }

    .we-do-main, .result-main {
        flex-direction: column;
        align-items: center;
    }

    .main-card, .result-card {
        width: 100%;
        justify-content: space-evenly;
    }

    .main-card div {
        margin-bottom: 30px;
    }
    .social-items {
        margin-right: 20px;
    }

    .logo-footer {
        margin-left: 40px;
    }
}




@media only screen and (max-width: 480px) {
    .logo {
        position: absolute;
        top: 35px;
        order: 2;
        margin-left: 0;
    }

    .navbar {
        justify-content: center;
    }

    nav input, nav label {
        display: none;
    }

    nav {
        margin-top: 10px;
        margin-left: 30px;
        color: #fff;
        width: 100%;
    }

    label {
        cursor: pointer;
    }

    .checkbtn {
        display: block;
    }

    #check {
        display: none;
    }

    .nav-menu {
        display: none;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .nav-menu a {
        padding: 1rem 1.5rem;
        display: block;
        margin-left: 0 !important;
        margin-right: 30px;
    }

    #check:checked~.nav-menu {
        display: block;
        width: 100%;
        background-color: var(--color-dark);
        text-align: center;
    }


    .main-card, .result-card {
        flex-direction: column;
    }

    .pentagone div {
        left: 32%;
    }

    footer .container {
        justify-content: center;
        flex-direction: column;
    }

    .logo-footer {
        margin-left: 0;
        margin-bottom: 40px;
    }

    footer .container {
        padding: 60px 0;
    }
}



footer {
    background-color: var(--color-blue);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}

.logo-footer img {
    width: 161px;
}

footer p {
    text-align: center;
    color: #ffffff81;
    padding-bottom: 40px;
}

.social-items a {
    margin-left: 20px;
}

